{{!< default}}

<main class="site-main">

    <header class="feed-header gh-canvas">
        {{#if @custom.feed_title}}
            <div class="feed-header-wrapper">
                <h2 class="feed-header-title">{{@custom.feed_title}}</h2>
                <a href="/blog" class="view-all">
                    {{t "View All"}}
                    <span>&#187;</span>
                </a>
            </div>
        {{/if}}
    </header>

    {{#get "posts" limit="5"}}
    <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
        <div class="view-all-posts">
            <a href="/blog">
                <span class="sep">•</span>
                {{t "View All Posts"}}
                <span class="sep">•</span>
            </a>
        </div>
    </div>
    {{/get}}
    

</main>

{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover is-head-transparent{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}